<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{title}}</h2></div>
    </div>
    <div class="contentContainer">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <p v-for="(data,index) in $store.getters.getAbout.data" :key="index">{{data}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
