<template>
  <div>
    <Top />
    <AboutBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import AboutBody from './AboutBody'
import Bottom from './Bottom'
export default {
  name: 'About',
  data () {
    return {}
  },
  components: {Top, AboutBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
