<template>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md" v-for="(heading,index) in $store.getters.getBottom.links" :key="index">
          <h5><router-link class="bottomLink" :to="heading.link">{{heading.title}}</router-link></h5>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Bottom'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bottomLink:hover{
  text-decoration: none;
}
</style>
