<template>
  <div>
    <Top />
    <ContactBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import ContactBody from './ContactBody'
import Bottom from './Bottom'
export default {
  name: 'Contact',
  data () {
    return {}
  },
  components: {Top, ContactBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
