<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getContact.title}}</h2></div>
    </div>
    <div class="contentContainer">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <label for="phoneInput">{{$store.getters.getContact.tel}}</label>
              <input type="tel" class="form-control" id="phoneInput" aria-describedby="phoneHelp" required>
            </div>
            <div class="form-group">
              <label for="contactContent">{{$store.getters.getContact.content}}</label>
              <textarea class="form-control" id="contactContent" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
