<template>
  <div>
    <Top />
    <DiseaseBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import DiseaseBody from './DiseaseBody'
import Bottom from './Bottom'
export default {
  name: 'Disease',
  data () {
    return {}
  },
  components: {Top, DiseaseBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
