<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getReportDetails.diseaseDetails.title}}</h2></div>
    </div>
    <div class="contentContainer">
      <table class="table table-bordered  table-striped">
        <thead>
          <tr>
            <th scope="col"  v-for="(val,index) in $store.getters.getReportDetails.diseaseDetails.captions" :key="index">{{val}}</th>
          </tr>
        </thead>
        <tbody v-for="(diseaseVal,diseaseIndex) in $store.getters.getReportDetails.data" :key="diseaseIndex">
          <tr v-for="(itemVal,itemIndex) in diseaseVal.details" :key="itemIndex">
            <th scope="row">{{itemVal.name}}</th>
            <td>{{itemVal.en}}</td>
            <td>{{itemVal.high}}</td>
            <td>{{itemVal.low}}</td>
            <td>{{diseaseVal.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DiseaseBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    td{
      width:20%;
    }
</style>
