<template>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h1 class="display-4">{{$store.getters.getIndex.title}}</h1>
          <p class="lead">{{$store.getters.getIndex.body}}</p>
          <div class="card-deck mb-3 text-center">
            <div class="card border-red mb-4 shadow-sm" v-for="(s,index) in $store.getters.getIndex.section" :key="index">
              <div class="card-header border-red">
                <h4 class="my-0 font-weight-normal"><span :class="s.class">{{s.title}}</span></h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li v-for="(l,listIndex) in s.bodyList" :key="listIndex">{{l}}</li>
                </ul>
                <router-link :key="s.link" :to="s.link"  class="btn btn-lg btn-block white" :class="'btn-outline-'+s.class" >开始生成</router-link>
              </div>
            </div>
            <!--<div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'IndexBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .border-red{
    border-color:red;
  }
  .bronze{
    color:#cd7f32;
  }
  .btn-outline-bronze{
    background:#cd7f32;
  }
  .silver{
    color:#c0c0c0;
  }
  .btn-outline-silver{
    background:#c0c0c0;
  }
  .gold{
    color:#FFD700;
  }
  .btn-outline-gold{
    background:#FFD700;
  }
  .white{
    color:#ffffff;
  }
</style>
