<template>
  <div>
    <Top />
    <IndexBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import IndexBody from './IndexBody'
import Bottom from './Bottom'
export default {
  name: 'Index',
  data () {
    return {}
  },
  components: {Top, IndexBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .title{
    color:red;
  }
</style>
