<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getQuestions.title}}</h2></div>
    </div>
    <div class="contentContainer">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div v-for="(data,index) in $store.getters.getQuestions.data" :key="index">
            <h4 class="q">{{data.q}}</h4>
            <p class="a">{{data.a}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestionsBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
