<template>
  <div>
    <Top />
    <QuestionsBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import QuestionsBody from './QuestionsBody'
import Bottom from './Bottom'
export default {
  name: 'Questions',
  data () {
    return {}
  },
  components: {Top, QuestionsBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
