<template>
  <div>
    <Top />
    <ReportBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import ReportBody from './ReportBody'
import Bottom from './Bottom'
export default {
  name: 'Report',
  data () {
    return {}
  },
  components: {Top, ReportBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
