<template>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getReport.title[this.$route.params.id]}}</h2><p class="title">{{$store.getters.getReport.description[this.$route.params.id]}}</p></div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <input type="text" maxlength="3" id="name" @change="checkValid ()" placeholder="姓名" required >
          </div>
          <div class="col-md-3">
            <input type="number" min="15" max="90" id="age" @change="checkValid ()" placeholder="年龄" required >
          </div>
      </div>
      <div class="contentContainer">
        <div v-for="(reportDetails,index) in $store.getters.getReportDetails.data" :key="index">
          <h3>{{reportDetails.title}}</h3>
          <div class="row justify-content-center" v-for="i in Math.ceil(reportDetails.details.length/3)" :key="i">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-4" v-for="(j,jIndex) in reportDetails.details.slice(3*(i-1),3*(i-1)+3)" :key="jIndex">
                  <p class="col-form-label">{{j.name}}</p>
                  <p class="s-title">{{j.value}}</p>
                  <div class="form-check form-check-inline"  v-if="j.high">
                    <input type="radio" class="form-check-input" :id="j.id+'0'" value="0" :name="j.id" @click="changeOptions (j.id.toString(), '0')">
                    <label class="form-check-label" :for="j.id+'0'">
                      高
                    </label>
                  </div>
                  <div class="form-check form-check-inline" v-if="j.low">
                    <input type="radio" class="form-check-input" :id="j.id+'1'" value="1" :name="j.id" @click="changeOptions (j.id.toString(), '1')">
                    <label class="form-check-label" :for="j.id+'1'">
                      低
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" :id="j.id+'2'" value="2" :name="j.id" @click="changeOptions (j.id.toString(), '2')" checked>
                    <label class="form-check-label" :for="j.id+'2'" >
                      正常或未提供
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="row">

            <div class="col-md-3">
              <button type="button" class="btn btn-primary" id="generateButton" @click="generateReport($route.params.id)" disabled>生成报告</button>
            </div>
        </div>

        <hr>
        <div class="row justify-content-center">
          <h3>异常值概览</h3>
        </div>
        <div class="row justify-content-center" >
            <div class="col-md-12" >
              <div class="summary" :class="switchClass ($store.getters.getSummary[val])" v-for="(val) in Object.keys($store.getters.getSummary)" :key="val"> {{getDisplayName (val)}}:{{ switchValue($store.getters.getSummary[val])}} </div>
            </div>
        </div>

      <!--
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-sm-4">
                <p class="col-form-label">谷丙转氨酶(0-40U/L)</p>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam0" value="0">
                  <label class="form-check-label" for="gbzam0">
                    高
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam1" value="1">
                  <label class="form-check-label" for="gbzam1">
                    低
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam2" value="2">
                  <label class="form-check-label" for="gbzam2" checked>
                    正常或未提供
                  </label>
                </div>
              </div>
              <div class="col-sm-4">
                <p class="col-form-label">谷草转氨酶(5-35U/L)</p>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam0" value="0">
                  <label class="form-check-label" for="gbzam0">
                    高
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam1" value="1">
                  <label class="form-check-label" for="gbzam1">
                    低
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam2" value="2">
                  <label class="form-check-label" for="gbzam2" checked>
                    正常或未提供
                  </label>
                </div>
              </div>
              <div class="col-sm-4">
                <p class="col-form-label">碱性磷酸酶(42-128U/L)</p>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam0" value="0">
                  <label class="form-check-label" for="gbzam0">
                    高
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam1" value="1">
                  <label class="form-check-label" for="gbzam1">
                    低
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gbzam2" value="2">
                  <label class="form-check-label" for="gbzam2" checked>
                    正常或未提供
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>-->

      </div>
    </div>
</template>

<script>
export default {
  name: 'ReportBody',
  methods: {
    changeOptions (key, val) {
      this.$store.dispatch('changeSummary', {key, val})
      this.checkValid()
    },
    switchValue (val) {
      if (val === '0') {
        return '高'
      } else {
        return '低'
      }
    },
    switchClass (val) {
      if (val === '0') {
        return 'high'
      } else {
        return 'low'
      }
    },
    getDisplayName (id) {
      return document.getElementById(id + '0').parentNode.parentNode.children[0].innerHTML
    },
    checkValid () {
      // alert(this.$store.getters.getSummary)
      let flag = false
      if (document.getElementById('name').value === '') {
      } else if (document.getElementById('age').value === '') {
      } else {
        for (var prop in this.$store.getters.getSummary) {
          if (this.$store.getters.getSummary.hasOwnProperty(prop)) { flag = true; break }
        }

        if (flag === true) {
          document.getElementById('generateButton').disabled = false
        } else {
          document.getElementById('generateButton').disabled = true
        }
      }
      return flag
    },
    generateReport (id) {
      let name = document.getElementById('name').value
      let age = document.getElementById('age').value
      this.$store.dispatch('generateReport', {id, name, age})
      let flag = this.checkValid()
      if (flag === true) {
        this.$router.replace('/reportdetails')
      }
    }
  },
  beforeCreate: function () {
    this.$store.dispatch('resetSummary')
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .summary{
    border-width: 1px;
    border-style: solid;
    padding:20px;
    display: inline-block;
    margin: 5px;
  }
  .high{
    border-color:red;
  }
  .low{
    border-color:green;
  }
  .s-title{
    font-size: 0.8rem;
    color:#007bff;
  }
</style>
