<template>
  <div>
    <div class="container">
      <div class="reportContainer">
        <div class="row">
          <div class="col-md-2 text-center"><img class="img-fluid" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/medical-logo-3-783841.png"/></div>
          <div class="col-md-8 text-center">
            <h3>生化检查</h3>
            <p class="report-details-title">{{$store.getters.getReport.title[$store.getters.getSetting.type]}}</p>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">项目</th>
                <th scope="col">正常值范围</th>
                <th scope="col">偏高/低</th>
                <th scope="col" v-if="parseInt($store.getters.getSetting.type)>0">病因</th>
              </tr>
            </thead>
            <tbody>
              <tr   v-for="(data,index) in $store.getters.getSummary" :key="index" >
                <th scope="row" >{{getItem(index).name+"("+getItem(index).en+")"}}</th>
                <td>{{getItem(index).value}}</td>
                <td>{{getHighOrLow (data)}}</td>
                <td v-if="parseInt($store.getters.getSetting.type)>0">{{getDisease (index, data)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReportDetails',
  data () {
    return {}
  },
  methods: {
    getItem (data) {
      for (let i = 0; i < this.$store.getters.getReportDetails.data.length; i++) {
        for (let j = 0; j < this.$store.getters.getReportDetails.data[i].details.length; j++) {
          if (this.$store.getters.getReportDetails.data[i].details[j].id === data) {
            return this.$store.getters.getReportDetails.data[i].details[j]
          }
        }
      }
    },
    getHighOrLow (data) {
      if (data === '0') {
        return '高'
      } else {
        return '低'
      }
    },
    getDisease (index, data) {
      if (data === '0') {
        return this.getItem(index).high
      } else {
        return this.getItem(index).low
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .reportContainer{
    width:80%;
    margin:50px auto;
  }
  .report-details-title{
    color:red;
  }
  td{
      width:25%;
    }
</style>
