<template>
  <div>
    <Top />
    <ResourceBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import ResourceBody from './ResourceBody'
import Bottom from './Bottom'
export default {
  name: 'Resource',
  data () {
    return {}
  },
  components: {Top, ResourceBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
