<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getResource.title}}</h2></div>
    </div>
    <div class="contentContainer">
       <div class="row justify-content-center">
          <div class="col-md-8">
            <ul v-for="(data,index) in $store.getters.getResource.data" :key="index">
              <li>
                <a class="resourceLink" :href="data.link">{{data.title}}</a>
              </li>
            </ul>
          </div>
       </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResourceBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ul {
    list-style-type: none;
  }
  .resourceLink{
    font-size: 1.2rem;
  }
</style>
