<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getSolution.title}}</h2></div>
    </div>
    <div class="contentContainer">
      <table class="table table-bordered  table-striped">
        <thead>
          <tr>
            <th scope="col" v-for="(val,index) in $store.getters.getSolution.captions" :key="index">{{val}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(val,index) in $store.getters.getSolution.data" :key="index">
            <th scope="row">{{val.disease}}</th>
            <td>{{val.regular}}</td>
            <td>{{val.efficient}}</td>
            <td>{{val.optional}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SolutionBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
