<template>
  <div>
    <Top />
    <SolutionBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import SolutionBody from './SolutionBody'
import Bottom from './Bottom'
export default {
  name: 'Solution',
  data () {
    return {}
  },
  components: {Top, SolutionBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
