<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h2 class="title">{{$store.getters.getReportDetails.standardDetails.title}}</h2></div>
    </div>
    <div class="contentContainer">
      <table class="table table-bordered  table-striped">
        <thead>
          <tr>
            <th scope="col" v-for="(val,index) in $store.getters.getReportDetails.standardDetails.captions" :key="index">{{val}}</th>
          </tr>
        </thead>
        <tbody v-for="(detailsVal,detailsIndex) in $store.getters.getReportDetails.data" :key="detailsIndex">
          <tr  v-for="(itemVal,itemIndex) in detailsVal.details" :key="itemIndex">
            <th scope="row">{{itemVal.name}}</th>
            <td >{{itemVal.en}}</td>
            <td >{{itemVal.value}}</td>
          </tr>
         <!-- <tr v-for="(itemVal,itemIndex) in val" :key="itemIndex">
            <th scope="row">{{itemVal.name}}</th>
            <td>{{val.en}}</td>
            <td>{{val.val}}</td>
            <td>{{val.unit}}</td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StandardBody'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  td:first-child{
    width:20%;
  }
  td:nth-child(2n){
    width:20%;
  }
  td:last-child{
    width:60%;
  }
</style>
