<template>
  <div>
    <Top />
    <StandardBody />
    <Bottom />
    <!-- Content here -->
  </div>
</template>

<script>
import Top from './Top'
import StandardBody from './StandardBody'
import Bottom from './Bottom'
export default {
  name: 'Standard',
  data () {
    return {}
  },
  components: {Top, StandardBody, Bottom}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
