<template>
  <div
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
  >
    <h5 class="my-0 mr-md-auto font-weight-normal">{{$store.getters.getTop.brand}}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <router-link class="p-2 text-dark" v-for="(nav_item,index) in $store.getters.getTop.nav_items"
        v-bind:key="index" :to="nav_item.link">{{nav_item.content}}</router-link>

    </nav>
  </div>
</template>

<script>
export default {
  name: 'Top',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
