<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  .title{
    color:red;
  }
  .contentContainer{
    padding-top:2em;
  }
  body{
    font-size:1.2rem;
  }
</style>
